# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff
db.sqlite3
media/
# staticfiles/ - committed for Vercel deployment

# Environments
.env
venv/

# IDE/editor
.vscode/
.idea/

# Logs
*.log

# Python packaging
build/
dist/
*.egg-info/

# Vercel
.vercel/

#ssh keys
ssh_rsa_key.txt
ssh_rsa_key.txt.pub